._demo--container
    span.wordmark--left IBM
    span.wordmark--right Watson Secure Cognitive App

._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
          | Secure Cognitive Data Processing
        .banner--service-description
          | A security enhanced version of an application using the Watson visual recognition service that provides complete audit of data processing & uses deep learning algorithms to analyze images.

